:root {
    --typo-pc-family-head: Pretendard;
    --typo-pc-family-caption: Pretendard;
    --typo-pc-family-body: Pretendard;
    --typo-pc-weight-bold700: bold;
    --typo-pc-weight-semibold600: semibold;
    --typo-pc-weight-regular400: regular;
    --typo-pc-size-head-xl: 60;
    --typo-pc-size-head-lg: 48;
    --typo-pc-size-head-md: 40;
    --typo-pc-size-head-sm: 36;
    --typo-pc-size-head-xs: 32;
    --typo-pc-size-body-xl: 28;
    --typo-pc-size-body-lg: 24;
    --typo-pc-size-body-md: 20;
    --typo-pc-size-body-sm: 18;
    --typo-pc-size-body-xs: 16;
    --typo-pc-size-caption-xl: 14;
    --typo-pc-size-caption-lg: 13;
    --typo-pc-size-caption-md: 12;
    --typo-pc-size-caption-sm: 11;
    --typo-pc-size-caption-xs: 10;
    --typo-pc-letter-spacing-default: 0;
    --typo-pc-letter-spacing-small: -0.20000000298023224;
    --typo-pc-weight-medium500: medium;
    --typo-pc-line-height-head-xl: 72;
    --typo-pc-line-height-head-lg: 57.599998474121094;
    --typo-pc-line-height-head-md: 48;
    --typo-pc-line-height-head-sm: 43.20000076293945;
    --typo-pc-line-height-head-xs: 38.400001525878906;
    --typo-pc-line-height-body-xl: 42;
    --typo-pc-line-height-body-lg: 38.400001525878906;
    --typo-pc-line-height-body-md: 30;
    --typo-pc-line-height-body-sm: 27;
    --typo-pc-line-height-body-xs: 24;
    --typo-pc-line-height-caption-xl: 21;
    --typo-pc-line-height-caption-lg: 19.5;
    --typo-pc-line-height-caption-md: 18;
    --typo-pc-line-height-caption-xs: 15;
    --typo-pc-line-height-caption-sm: 16.5;
    --typo-tablet-family-head: Pretendard;
    --typo-tablet-family-caption: Pretendard;
    --typo-tablet-family-body: Pretendard;
    --typo-tablet-weight-bold700: bold;
    --typo-tablet-weight-semibold600: semibold;
    --typo-tablet-weight-regular400: regular;
    --typo-tablet-size-head-xl: 54;
    --typo-tablet-size-head-lg: 44;
    --typo-tablet-size-head-md: 36;
    --typo-tablet-size-head-sm: 32;
    --typo-tablet-size-head-xs: 28;
    --typo-tablet-size-body-xl: 24;
    --typo-tablet-size-body-lg: 22;
    --typo-tablet-size-body-md: 20;
    --typo-tablet-size-body-sm: 18;
    --typo-tablet-size-body-xs: 14;
    --typo-tablet-size-caption-xl: 13;
    --typo-tablet-size-caption-lg: 12;
    --typo-tablet-size-caption-md: 11;
    --typo-tablet-size-caption-sm: 10;
    --typo-tablet-size-caption-xs: 9;
    --typo-tablet-letter-spacing-default: 0;
    --typo-tablet-letter-spacing-small: -0.20000000298023224;
    --typo-tablet-weight-medium500: medium;
    --typo-tablet-line-height-head-xl: 64.80000305175781;
    --typo-tablet-line-height-head-lg: 52.79999923706055;
    --typo-tablet-line-height-head-md: 43.20000076293945;
    --typo-tablet-line-height-head-sm: 38.400001525878906;
    --typo-tablet-line-height-head-xs: 33.599998474121094;
    --typo-tablet-line-height-body-xl: 36;
    --typo-tablet-line-height-body-lg: 33;
    --typo-tablet-line-height-body-md: 24;
    --typo-tablet-line-height-body-sm: 24;
    --typo-tablet-line-height-body-xs: 21;
    --typo-tablet-line-height-caption-xl: 19.5;
    --typo-tablet-line-height-caption-lg: 18;
    --typo-tablet-line-height-caption-md: 16.5;
    --typo-tablet-line-height-caption-xs: 13.5;
    --typo-tablet-line-height-caption-sm: 15;
    --typo-mo-family-head: Pretendard;
    --typo-mo-family-caption: Pretendard;
    --typo-mo-family-body: Pretendard;
    --typo-mo-weight-bold700: bold;
    --typo-mo-weight-semibold600: semibold;
    --typo-mo-weight-regular400: regular;
    --typo-mo-size-head-xl: 40;
    --typo-mo-size-head-lg: 36;
    --typo-mo-size-head-md: 32;
    --typo-mo-size-head-sm: 28;
    --typo-mo-size-head-xs: 24;
    --typo-mo-size-body-xl: 22;
    --typo-mo-size-body-lg: 20;
    --typo-mo-size-body-md: 18;
    --typo-mo-size-body-sm: 16;
    --typo-mo-size-body-xs: 14;
    --typo-mo-size-caption-xl: 13;
    --typo-mo-size-caption-lg: 12;
    --typo-mo-size-caption-md: 11;
    --typo-mo-size-caption-sm: 10;
    --typo-mo-size-caption-xs: 9;
    --typo-mo-letter-spacing-default: 0;
    --typo-mo-letter-spacing-small: -0.20000000298023224;
    --typo-mo-weight-medium500: medium;
    --typo-mo-line-height-head-xl: 48;
    --typo-mo-line-height-head-lg: 43.20000076293945;
    --typo-mo-line-height-head-md: 38.400001525878906;
    --typo-mo-line-height-head-sm: 33.599998474121094;
    --typo-mo-line-height-head-xs: 28.799999237060547;
    --typo-mo-line-height-body-xl: 33;
    --typo-mo-line-height-body-lg: 30;
    --typo-mo-line-height-body-md: 27;
    --typo-mo-line-height-body-sm: 24;
    --typo-mo-line-height-body-xs: 21;
    --typo-mo-line-height-caption-xl: 19.5;
    --typo-mo-line-height-caption-lg: 18;
    --typo-mo-line-height-caption-md: 16.5;
    --typo-mo-line-height-caption-xs: 13.5;
    --typo-mo-line-height-caption-sm: 15;
    --colorGL-all-black100: #000000;
    --colorGL-all-black96: #000000f4;
    --colorGL-all-black88: #000000e0;
    --colorGL-all-black16: #00000028;
    --colorGL-all-black12: #0000001e;
    --colorGL-all-black24: #0000003d;
    --colorGL-all-black20: #00000033;
    --colorGL-all-black40: #00000066;
    --colorGL-all-black32: #00000051;
    --colorGL-all-black60: #00000099;
    --colorGL-all-black56: #00000091;
    --colorGL-all-black80: #000000cc;
    --colorGL-all-black72: #000000b7;
    --colorGL-all-black8: #00000014;
    --colorGL-all-black4: #0000000a;
    --colorGL-all-black0: #00000000;
    --colorGL-all-white100: #ffffff;
    --colorGL-all-white16: #ffffff28;
    --colorGL-all-white20: #ffffff33;
    --colorGL-all-white24: #ffffff3d;
    --colorGL-all-white32: #ffffff51;
    --colorGL-all-white40: #ffffff66;
    --colorGL-all-white56: #ffffff8e;
    --colorGL-all-white60: #ffffff99;
    --colorGL-all-white72: #ffffffb7;
    --colorGL-all-white80: #ffffffcc;
    --colorGL-all-white88: #ffffffe0;
    --colorGL-all-white96: #fffffff4;
    --colorGL-all-white12: #ffffff1e;
    --colorGL-all-white8: #ffffff14;
    --colorGL-all-white4: #ffffff0a;
    --colorGL-all-white0: #ffffff00;
    --colorGL-all-gray10: #f9f9f9;
    --colorGL-all-gray50: #f4f4f4;
    --colorGL-all-gray150: #eaeaea;
    --colorGL-all-gray100: #efefef;
    --colorGL-all-gray400: #b3b3b3;
    --colorGL-all-gray300: #cccccc;
    --colorGL-all-gray250: #d8d8d8;
    --colorGL-all-gray200: #e5e5e5;
    --colorGL-all-gray850: #333333;
    --colorGL-all-gray800: #3f3f3f;
    --colorGL-all-gray600: #808080;
    --colorGL-all-gray700: #6b6b6b;
    --colorGL-all-gray500: #999999;
    --colorGL-all-gray750: #595959;
    --colorGL-all-gray950: #191919;
    --colorGL-all-gray900: #262626;
    --colorGL-all-heritage-red50: #ffe0ea;
    --colorGL-all-heritage-red100: #ffadc7;
    --colorGL-all-heritage-red200: #ff7aa4;
    --colorGL-all-heritage-red300: #ff4781;
    --colorGL-all-heritage-red400: #ff145e;
    --colorGL-all-heritage-red500: #d60043;
    --colorGL-all-heritage-red600: #a50034;
    --colorGL-all-heritage-red950: #28000c;
    --colorGL-all-heritage-red900: #3d0013;
    --colorGL-all-heritage-red800: #510019;
    --colorGL-all-heritage-red700: #700023;
    --colorGL-all-red500: #ff6363;
    --colorGL-all-red600: #ff4242;
    --colorGL-all-red800: #840000;
    --colorGL-all-red700: #ab0101;
    --colorGL-all-red950: #3c0000;
    --colorGL-all-red900: #640101;
    --colorGL-all-red400: #ff8c8c;
    --colorGL-all-red300: #ffb5b5;
    --colorGL-all-red100: #feecec;
    --colorGL-all-red200: #fed5d5;
    --colorGL-all-red50: #fffafa;
    --colorGL-all-green300: #28a745;
    --colorGL-all-green400: #008e2f;
    --colorGL-all-green500: #004c19;
    --colorGL-all-green200: #92fbb5;
    --colorGL-all-green100: #d7fde4;
    --colorGL-all-yellow300: #ff9200;
    --colorGL-all-yellow400: #cc7400;
    --colorGL-all-yellow500: #9c5800;
    --colorGL-all-yellow200: #ffbd66;
    --colorGL-all-yellow100: #ffe0b7;
    --colorCM-all-primary-primary-enabled: #a50034;
    --colorCM-all-primary-primary-pressed: #700023;
    --colorCM-all-primary-primary-sub-enabled: #ffe0ea;
    --colorCM-all-primary-primary-disabled: #ff7aa4;
    --colorCM-all-primary-primary-sub-pressed: #ffadc7;
    --colorCM-all-primary-primary-sub-disabled: #ffe0ea;
    --colorCM-all-secondary-secondary-enabled: #333333;
    --colorCM-all-secondary-secondary-pressed: #191919;
    --colorCM-all-secondary-secondary-sub-enabled: #eaeaea;
    --colorCM-all-secondary-secondary-disabled: #6b6b6b;
    --colorCM-all-secondary-secondary-sub-pressed: #999999;
    --colorCM-all-secondary-secondary-sub-disabled: #eaeaea;
    --colorCM-all-text-text-default: #191919;
    --colorCM-all-text-text-secondary: #333333;
    --colorCM-all-text-text-disabled: #999999;
    --colorCM-all-text-text-tertiary: #6b6b6b;
    --colorCM-all-text-text-on-bg: #ffffff;
    --colorCM-all-icon-icon-default: #191919;
    --colorCM-all-icon-icon-secondary: #333333;
    --colorCM-all-icon-icon-disabled: #999999;
    --colorCM-all-icon-icon-tertiary: #6b6b6b;
    --colorCM-all-icon-icon-on-bg: #ffffff;
    --colorCM-all-stroke-stroke-default1: #191919;
    --colorCM-all-stroke-stroke-default2: #333333;
    --colorCM-all-stroke-stroke-default3: #6b6b6b;
    --colorCM-all-stroke-stroke-default4: #999999;
    --colorCM-all-stroke-stroke-default9: #f4f4f4;
    --colorCM-all-stroke-stroke-default6: #d8d8d8;
    --colorCM-all-stroke-stroke-default5: #cccccc;
    --colorCM-all-stroke-stroke-default7: #e5e5e5;
    --colorCM-all-stroke-stroke-default8: #eaeaea;
    --colorCM-all-fill-fill-default0: #ffffff;
    --colorCM-all-fill-fill-default1: #f9f9f9;
    --colorCM-all-fill-fill-default2: #f4f4f4;
    --colorCM-all-fill-fill-default3: #efefef;
    --colorCM-all-fill-fill-default4: #e5e5e5;
    --colorCM-all-fill-fill-default5: #cccccc;
    --colorCM-all-fill-fill-default6: #999999;
    --colorCM-all-fill-fill-default7: #6b6b6b;
    --colorCM-all-fill-fill-default8: #3f3f3f;
    --colorCM-all-fill-fill-disabled: #e5e5e5;
    --colorCM-all-fill-fill-default12: #000000;
    --colorCM-all-fill-fill-default11: #191919;
    --colorCM-all-fill-fill-default10: #262626;
    --colorCM-all-fill-fill-default9: #333333;
    --colorCM-all-background-background-default0: #ffffff;
    --colorCM-all-background-background-default1: #f9f9f9;
    --colorCM-all-background-background-default2: #f4f4f4;
    --colorCM-all-background-background-default3: #efefef;
    --colorCM-all-background-background-default4: #cccccc;
    --colorCM-all-background-background-default5: #b3b3b3;
    --colorCM-all-background-background-default6: #808080;
    --colorCM-all-background-background-default7: #595959;
    --colorCM-all-background-background-default8: #333333;
    --colorCM-all-background-background-default9: #191919;
    --colorCM-all-background-background-default10: #000000;
    --colorCM-all-error-error-enabled: #ff4242;
    --colorCM-all-error-error-pressed: #840000;
    --colorCM-all-error-error-disabled: #ffb5b5;
    --colorCM-all-error-error-sub-enabled: #ffb5b5;
    --colorCM-all-error-error-sub-pressed: #ff6363;
    --colorCM-all-error-error-sub-disabled: #ffb5b5;
    --colorCM-all-caution-caution-enabled: #ff9200;
    --colorCM-all-caution-caution-pressed: #cc7400;
    --colorCM-all-caution-caution-disabled: #ffe0b7;
    --colorCM-all-caution-caution-sub-enabled: #ffe0b7;
    --colorCM-all-caution-caution-sub-pressed: #ffbd66;
    --colorCM-all-caution-caution-sub-disabled: #ffe0b7;
    --colorCM-all-success-success-enabled: #28a745;
    --colorCM-all-success-success-pressed: #004c19;
    --colorCM-all-success-success-disabled: #d7fde4;
    --colorCM-all-success-success-sub-enabled: #d7fde4;
    --colorCM-all-success-success-sub-pressed: #92fbb5;
    --colorCM-all-success-success-sub-disabled: #d7fde4;
    --colorCM-all-stroke-stroke-trans-w4: #ffffff0a;
    --colorCM-all-stroke-stroke-trans-w8: #ffffff14;
    --colorCM-all-stroke-stroke-trans-w12: #ffffff1e;
    --colorCM-all-stroke-stroke-trans-b4: #0000000a;
    --colorCM-all-stroke-stroke-trans-b8: #00000014;
    --colorCM-all-stroke-stroke-trans-b12: #0000001e;
    --colorCM-all-stroke-stroke-trans-w16: #ffffff28;
    --colorCM-all-stroke-stroke-trans-w20: #ffffff33;
    --colorCM-all-stroke-stroke-trans-b16: #00000028;
    --colorCM-all-stroke-stroke-trans-b20: #00000033;
    --spacing-mode1-vertical-none: 0;
    --spacing-mode1-vertical2-x-s: 2;
    --spacing-mode1-vertical-x-s: 4;
    --spacing-mode1-vertical-s-nudge: 6;
    --spacing-mode1-vertical-s: 8;
    --spacing-mode1-vertical-m-nudge: 10;
    --spacing-mode1-vertical-m: 12;
    --spacing-mode1-vertical-l: 16;
    --spacing-mode1-vertical-x-l: 20;
    --spacing-mode1-vertical2-x-l: 24;
    --spacing-mode1-vertical2-x-l-nudge: 32;
    --spacing-mode1-vertical3-x-l: 40;
    --spacing-mode1-vertical4-x-l: 60;
    --spacing-mode1-vertical5-x-l: 80;
    --spacing-mode1-vertical6-x-l: 100;
    --spacing-mode1-vertical7-x-l: 160;
    --spacing-mode1-vertical6-x-l-nudge: 120;
    --spacing-mode1-vertical8-x-l: 180;
    --spacing-mode1-vertical9-x-l: 200;
    --spacing-mode1-horizontal-none: 0;
    --spacing-mode1-horizontal2-x-s: 2;
    --spacing-mode1-horizontal-x-s: 4;
    --spacing-mode1-horizontal-s-nudge: 6;
    --spacing-mode1-horizontal-s: 8;
    --spacing-mode1-horizontal-m-nudge: 10;
    --spacing-mode1-horizontal-m: 12;
    --spacing-mode1-horizontal-l: 16;
    --spacing-mode1-horizontal-x-l: 20;
    --spacing-mode1-horizontal2-x-l: 24;
    --spacing-mode1-horizontal2-x-l-nudge: 32;
    --spacing-mode1-horizontal3-x-l: 40;
    --spacing-mode1-horizontal4-x-l: 60;
    --spacing-mode1-horizontal5-x-l: 80;
    --spacing-mode1-horizontal6-x-l: 100;
    --spacing-mode1-horizontal6-x-l-nudge: 120;
    --spacing-mode1-horizontal7-x-l: 160;
    --spacing-mode1-horizontal8-x-l: 180;
    --spacing-mode1-horizontal9-x-l: 200;
    --radius-mode1-none: 0;
    --radius-mode1-x-s: 2;
    --radius-mode1-s: 4;
    --radius-mode1-m: 8;
    --radius-mode1-s-nudge: 6;
    --radius-mode1-m-nudge: 10;
    --radius-mode1-l: 12;
    --radius-mode1-x-l: 16;
    --radius-mode1-2-x-l: 20;
    --radius-mode1-2-x-l-nudge: 24;
    --radius-mode1-3-x-l: 28;
    --radius-mode1-circular: 999;
}
