<!doctype html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= data.title %>
    </title>
    <meta name="description" content="<%= data.description %>">

</head>

<body>
    <div class="guide__wrap">
        <div class="guide__wrap">
            <%- include('src/layouts/guide_header.html') %>
                <div class="page-location text-2xl font-bold">
                    <span id="pagesTitle"></span>
                </div>
                <div class="guide-content">
                    <div class="flex justify-between lnb-type">
                        <div class="page-cont flex-1">
                            <p class="guide-title-h3">성과 목표 관리</p>
                            <div class="section_text mt-3">
                                <ul class="description-list">
                                    <li><a href="style_guide_scss.html">GP1 기반 SCSS mixin 가이드</a></li>
                                </ul>
                            </div>
                            <div class="section_text mt-3">
                                <ul class="description-list">
                                    <li><a href="/src/page/bchoi/lib/lib_miraeasset.html">미래에셋기반(토스트팝업, 캘린더, 툴팁)
                                            라이브러리화</a></li>
                                </ul>
                            </div>
                            <div class="section_text mt-3">
                                <ul class="description-list">
                                    <li><a href="cmp_guide_aem.html">AEM컴포넌트(다이얼, 컴포넌트 구성)
                                            라이브러리화</a></li>
                                </ul>
                            </div>

                            <p class="guide-title-h3 mt-8">CSS 방법론</p>
                            <p class="mt-3">컴포넌트 개발을 위한 HTML 퍼블리싱은 아래 개념을 도입하여 정의한다.</p>
                            <div class="section_text mt-3">
                                <ul class="description-list">
                                    <li>
                                        <a href="style_guide_methodology.html">Atomic Design</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="section_text mt-3">
                                <ul class="description-list">
                                    <li>
                                        <a href="style_guide_bem.html">BEM</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <script type="module" src="/src/main.js"></script>
</body>

</html>