<!doctype html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= data.title %>
  </title>
  <meta name="description" content="<%= data.description %>">

</head>

<body>
  <div class="guide__wrap">
    <div class="guide__wrap">
      <%- include('src/layouts/guide_header.html') %>
        <div class="page-location text-2xl font-bold">
          <span id="pagesTitle">AEM 컴포넌트 가이드</span>
        </div>
        <div class="guide-content">
          <div class="flex justify-between lnb-type">
            <div class="page-cont flex-1">
              <p class="guide-title-h3">1. AEM</p>
              <div class="section_text mt-3">
                <p>
                  AEM(Adobe Experience Manager)은 Adobe에서 개발한 엔터프라이즈급 콘텐츠 관리 시스템(CMS)이자 고객 경험 관리(CXM) 솔루션입니다.
                  <br>
                  웹사이트, 모바일 앱, 양식 등 다양한 디지털 채널에서 콘텐츠를 생성, 관리, 배포하는 데 사용됩니다.
                </p>
              </div>

              <p class="guide-title-h4 mt-6">1-1. AEM 컴포넌트 (Component)</p>
              <div class="section_text mt-3">
                <p>
                  AEM 컴포넌트는 웹 페이지를 구성하는 재사용 가능한 빌딩 블록입니다. 텍스트, 이미지, 캐러셀, 버튼 등 웹사이트를 이루는 모든 요소를 컴포넌트로 만들 수 있습니다.
                </p>
                <ul class="description-list mt-3">
                  <li>
                    HTML Template (HTL 또는 JSP): AEM에서 각 컴포넌트의 HTML 구조와 렌더링 로직을 담당하는 HTL(Sightly) 템플릿에 해당합니다. (컴포넌트의
                    시각적 구조를 정의하고 있습니다.)
                    <img src="/src/assets/image/bchoi_guide_aem_03.png" alt="" class="block max-w-sm mt-3">
                  </li>
                  <li>
                    Dialog Node (cq:dialog): 컴포넌트를 구성할 수 있는 사용자 인터페이스(UI)를 정의합니다. 콘텐츠 작성자가 컴포넌트에 들어갈 내용을 입력하거나 설정을
                    변경하는 데 사용됩니다.
                    <img src="/src/assets/image/bchoi_guide_aem_04.png" alt="" class="block max-w-sm mt-3">
                  </li>
                  <li>
                    Design Dialog Node (cq:design_dialog): 컴포넌트의 디자인 관련 설정을 정의하는 다이얼로그입니다. 예를 들어, 기본 스타일이나
                    허용되는 컴포넌트 유형 등을 설정할 수 있습니다. 이 설정은 템플릿 수준에서 이루어지며, 해당 템플릿을 사용하는 모든 페이지에 적용됩니다.
                  </li>
                  <li>
                    Client Libraries (clientlibs): 컴포넌트의 동작이나 스타일링을 위한 CSS 및 JavaScript 파일을 포함합니다.
                    <img src="/src/assets/image/bchoi_guide_aem_05.png" alt="" class="block max-w-sm mt-3">
                  </li>
                  <li>
                    컴포넌트의 정의는 일반적으로 /apps/my-project/components/ 경로에 위치하며, cq:Component 유형의 노드로 정의됩니다. 이 노드 아래에 위에서
                    설명한 다양한 요소들이 하위 노드로
                    구성됩니다.
                    <img src="/src/assets/image/bchoi_guide_aem_01.png" alt="" class="block max-w-lg mt-3">
                  </li>
                </ul>
              </div>

              <p class="guide-title-h4 mt-6">1-2. 다이얼로그 (Dialog)</p>
              <div class="section_text mt-3">
                <p>
                  AEM에서 다이얼로그(Dialog)는 콘텐츠 작성자가 컴포넌트의 내용을 편집하거나 속성을 설정할 수 있도록 제공되는 사용자 인터페이스(UI)입니다.
                  <br>컴포넌트에 대한 설정 창이라고 생각하면 이해하기 쉽습니다.
                </p>
                <br>
                <p>다이얼로그의 개념 및 역할</p>
                <ul class="description-list mt-3">
                  <li>컴포넌트의 속성 편집: 컴포넌트가 페이지에 표시될 내용을 다이얼로그를 통해 입력받습니다. 예를 들어, 텍스트 컴포넌트의 다이얼로그에는 텍스트를 입력하는 필드가 있습니다.
                  </li>
                  <li>컴포넌트의 동작 설정: 컴포넌트가 어떻게 동작할지 다이얼로그를 통해 설정할 수 있습니다. 예를 들어, 이미지 컴포넌트의 다이얼로그에는 입력된 텍스트의 사이즈, 컬러에 대하여
                    설정하는 필드가
                    있습니다.</li>
                  <li>사용자 친화적인 인터페이스: 코드를 직접 수정하지 않고도 콘텐츠를 관리할 수 있는 직관적인 UI를 제공합니다.</li>
                </ul>
                <img src="/src/assets/image/bchoi_guide_aem_02.png" alt="" class="block max-w-lg mt-5">
                <br>
                <p>다이얼로그의 종류</p>
                <ul class="description-list mt-3">
                  <li>Edit Dialog (cq:dialog): 가장 일반적인 다이얼로그로, 특정 컴포넌트 인스턴스의 콘텐츠를 편집하고 속성을 설정하는 데 사용됩니다. 저장된 데이터는 해당
                    컴포넌트 노드의 속성으로 저장됩니다.</li>
                  <li>Design Dialog (cq:design_dialog): 템플릿 수준에서 컴포넌트의 전역적인 디자인 속성을 구성하는 데 사용됩니다. 예를 들어, parsys 컴포넌트의
                    디자인 다이얼로그를 통해 해당 parsys에
                    어떤 컴포넌트를 사용할 수 있을지 정의할 수 있습니다.</li>
                </ul>
              </div>

              <p class="guide-title-h4 mt-6">1-3. 컴포넌트와 다이얼로그의 관계</p>
              <div class="section_text mt-3">
                <ul class="description-list">
                  <li>**컴포넌트(Component)**는 웹 페이지를 구성하는 기본 단위이며, **다이얼로그(Dialog)**는 이 컴포넌트의 내용을 작성하거나 설정을 변경하는 데 필요한 UI를
                    제공합니다.</li>
                  <li>모든 컴포넌트가 다이얼로그를 반드시 가져야 하는 것은 아니지만, 콘텐츠 작성자의 입력이 필요한 컴포넌트는 다이얼로그를 통해 그 인터페이스를 정의합니다.</li>
                  <li>다이얼로그에서 입력된 값은 JCR(Java Content Repository)의 컴포넌트 노드에 속성으로 저장됩니다.</li>
                  <li>HTL 또는 JSP 스크립트는 이 JCR 노드에 저장된 속성 값을 읽어와 웹 페이지에 콘텐츠를 렌더링합니다.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>

</html>